{% extends "base.html" %}
{% block title %}weather page{% endblock title %}
{% block content %}



<div class="container"><!-- the main container of the whole weather page-->



    <!-- Weather Page Title -->
    <div class="row">
        <div class="col-lg-12 text-start">
            <h1 class="mt-4 f-upper">{{content.context}} Page</h1>
  <figcaption class="blockquote-footer p-2">
    today date is 2024-01-10
  </figcaption>
        </div>
    </div>

    <!-- View Options Explanation -->
    <div class="row mt-4">
        <div class="col-lg-5 p-3">
            <h2>Graphical Representation</h2>
            <p>Explore the weather data through five informative graphs, providing a visual and intuitive understanding of temperature, chance of rain, and feels-like temperature.<br>Each graph offers a detailed hourly breakdown for today.</p>
            <img src={{url_for('static', filename='graph_repr.jpg')}} class="img-fluid" alt="Graphical Representation">
        </div>
        <div class="col-lg-5 p-3">
            <h2>Tabular Data</h2>
            <p>For a comprehensive weekly overview, switch to the tabular view.<br>Two tables display the weekly weather data for each API, allowing you to compare forecasts at a glance.Dive into the details to plan your week effectively.</p>
            <img src={{url_for('static', filename='tabular.jpg')}} class="img-fluid" alt="Tabular Data">
        </div>
    </div>

<h2 class="mt-4 f-upper pb-4">data representation</h2>
<p>This information is for study purpose only.</p>


{% if content.weather_day_graph %}
    {% for graph in content.weather_day_graph %}

        <div class="graph_main border rounded border-1 p-3 my-2" style="width-max:900px;width-min:400px;width:930px;background-color:#262a2e" >
            <h5>{{content.weather_day_graph[graph].data.name}}</h5>

        <div class="border rounded m-2 p-2 " style="background-color:#212529">
        <table class="table table-hover">



              <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">weatherapi</th>
                    <th scope="col">time</th>
                    <th scope="col">openmateo</th>
                    <th scope="col">time</th>
                    <th scope="col">diff</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">max</th>
                    <td>{{content.weather_day_graph[graph].data.information.weatherapi[0].data.max[0]}}</td>
                    <td>{{content.weather_day_graph[graph].data.information.weatherapi[0].data.max[1]}}</td>

                    <td>{{content.weather_day_graph[graph].data.information.openmateo[0].data.max[0]}}</td>
                    <td>{{content.weather_day_graph[graph].data.information.openmateo[0].data.max[1]}}</td>
                    <td>testing</td>
                </tr>
                <tr>
                    <th scope="row">min</th>

                    <td>{{content.weather_day_graph[graph].data.information.weatherapi[0].data.min[0]}}</td>
                    <td>{{content.weather_day_graph[graph].data.information.weatherapi[0].data.min[1]}}</td>

                    <td>{{content.weather_day_graph[graph].data.information.openmateo[0].data.min[0]}}</td>
                    <td>{{content.weather_day_graph[graph].data.information.openmateo[0].data.min[1]}}</td>

                    <td>2c</td>

                </tr>
            </tbody>
        </table>
        </div>





            {{ content.weather_day_graph[graph].html|safe }}
        </div><!-- graph_main -->


    {% endfor %}
{% endif %}


<!-- this section is only happen if the data is week data -->


{% if content.week_data %}
    {% for graph in content.week_data.user_data %}
        <h5 class="mt-4 f-upper pb-4">{{graph}}</h5>

        <table class="table table-bordered w-50">
              <thead>
                    <tr>
                    <th scope="col">#</th>
                    {% for dates in content.week_data.user_data[graph] %}
                    <th scope="col">{{dates}}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">maxtemp_c</th>
                        {% for dates in content.week_data.user_data[graph] %}
                            <td style="text-indent: 3rem;">{{content.week_data.user_data[graph][dates].maxtemp_c}}&emsp;&emsp;</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">avgtemp_c</th>
                        {% for dates in content.week_data.user_data[graph] %}
                            <td style="text-indent: 3rem;">{{content.week_data.user_data[graph][dates].avgtemp_c}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">daily_will_it_rain</th>
                        {% for dates in content.week_data.user_data[graph] %}
                            <td style="text-indent: 3rem;">{{content.week_data.user_data[graph][dates].daily_will_it_rain}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">daily_chance_of_rain</th>
                        {% for dates in content.week_data.user_data[graph] %}
                            <td style="text-indent: 3rem;">{{content.week_data.user_data[graph][dates].daily_chance_of_rain}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
    {% endfor %}
{% endif %}
</div>

<!-- testing for now -->


</div><!-- the main container of the whole weather page-->
{% endblock content %} 

